{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 3%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="row">
          <div class="col s5">
            <nav style="background-color:#ABCE3E;">
              <ul id="nav-mobile" class="margin-left">
                <li><a href="{{ url_for('user.edit_profile') }}">Profile</a></li>
                <li class="active"><a>Activity Tracker</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title">Edit your activity tracker</span>
          <div class="row">
            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="{{ url_for('static', filename='images/fitbit.png') }}">
                </div>
              </div>
            </div>
            <div class="col s6">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="{{ url_for('static', filename='images/google_fit.png') }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}