{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <span style="font-size: 1.64rem">BMI: Body mass index</span>
        <div class="divider"></div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    {{ week_div | safe}}
                    {{ week_script | safe}}

                    {{ month_div | safe}}
                    {{ month_script | safe}}
                </div>
            </div>  
        </div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>BMI kg/m2</th>
                                <th>Criterion</th>
                                <th>Risk of disease</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Less than  18.50</td>
                                <td>Low weight</td>
                                <td>More than normal people</td>
                                {% if user.bmi < 18.50 %}
                                <td><i class="material-icons">check</i></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Between the 18.50 - 22.90</td>
                                <td>Normal (Healthy)</td>
                                <td>As normal people</td>
                                {% if user.bmi >= 18.50 and user.bmi <= 22.90 %}
                                <td><i class="material-icons">check</i></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Between the 23 - 24.90</td>
                                <td>Chubby / Obesity level 1</td>
                                <td>Danger level 1</td>
                                {% if user.bmi >= 23 and user.bmi <= 24.90 %}
                                <td><i class="material-icons">check</i></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>Between the 25 - 29.90</td>
                                <td>Obesity / Obesity Level 2</td>
                                <td>Danger level 2</td>
                                {% if user.bmi >= 25 and user.bmi <= 29.90 %}
                                <td><i class="material-icons">check</i></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>More than 30</td>
                                <td>Very Obese / Obesity level 3</td>
                                <td>Danger level 3</td>
                                {% if user.bmi >= 30 %}
                                <td><i class="material-icons">check</i></td>
                                {% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="center" style="margin-top: 1rem">
                            <h5>Your BMI : 
                                    {{ "{:,.2f}".format(user.bmi) }}
                            </h5> 
                    </div>
                </div>
                <div class="row">
                    <div class="center" style="margin-bottom: 1rem">
                            <a class="waves-effect waves-light btn-large modal-trigger red lighten-1" href="{{ url_for('user.update_bmi') }}"><i class="material-icons left">system_update_alt</i>Update your bmi</a>
                    </div>
                </div>
            </div>  
        </div>
        
    </div>
{% endblock %}
