{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 3%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Edit your profile</span>
          <form enctype="multipart/form-data" method="POST">
            {{form.csrf_token}}
            <div class="row" style="margin-top: 2%">
              <div class="input-field col s12 m12">
                {{form.firstname}}
                {{form.firstname.label}}
              </div>
              <div class="input-field col s12 m12">
                {{form.lastname}}
                {{form.lastname.label}}
              </div>
              <div class="input-field col s12 m12">
                {{form.age}}
                {{form.age.label}}
              </div>
              <div class="input-field col s12 m12">
                {{form.sex}}
                {{form.sex.label}}
              </div>
              <div class="input-field col s12 m12">
                {{form.weight}}
                {{form.weight.label}}
              </div>
              <div class="input-field col s12 m12">
                {{form.height}}
                {{form.height.label}}
              </div>
              <div class="file-field col input-field s12 m12">
                <div class="btn btn-primary" style="background-color: #ABCE3E;">
                  {{ form.profile_image() }}
                  Profile Image
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
            <div class="row" style="margin-top: 2%">
              <span class="card-title" style="margin-left: 1%">Allergen</span>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.eggs}}
                    <span>{{form.eggs.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.fish}}
                    <span>{{form.fish.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.gluten}}
                    <span>{{form.gluten.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.milk}}
                    <span>{{form.milk.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.peanuts}}
                    <span>{{form.peanuts.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.shellfish}}
                    <span>{{form.shellfish.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.soybeans}}
                    <span>{{form.soybeans.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.tree_nuts}}
                    <span>{{form.tree_nuts.label}}</span>
                  </label>
                </p>
              </div>
              <div class="col s12 m12">
                <p>
                  <label>
                    {{form.wheat}}
                    <span>{{form.wheat.label}}</span>
                  </label>
                </p>
              </div>
            </div>
            <div class="row">
              <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3"
                type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}