<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{{ config.get('APP_TITLE') }}{% endblock %}</title>
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='node_modules/materialize-css/dist/css/materialize.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/material-icons/iconfont/material-icons.css') }}">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instance = M.Sidenav.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.tooltipped');
      var instances = M.Tooltip.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.materialboxed');
      var instances = M.Materialbox.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.autocomplete');
      var instances = M.Autocomplete.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        direction: 'left',
        hoverEnabled: false
      });
    });
  </script>
</head>

<body class="grey lighten-3">
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
  <div class="container" style="margin-top: 5%">
    <div class="row">
      <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
        <div class="card white z-depth-3">
          <div class="card-content">
            <span class="card-title">Update your profile</span>
            <form enctype="multipart/form-data" method="POST">
              {{form.csrf_token}}
              <div class="row" style="margin-top: 2%">
                <div class="input-field col s12 m12">
                  {{form.firstname}}
                  {{form.firstname.label}}
                </div>
                <div class="input-field col s12 m12">
                  {{form.lastname}}
                  {{form.lastname.label}}
                </div>
                <div class="input-field col s12 m12">
                  {{form.age}}
                  {{form.age.label}}
                </div>
                <div class="input-field col s12 m12">
                  {{form.sex}}
                  {{form.sex.label}}
                </div>
                <div class="input-field col s12 m12">
                  {{form.weight}}
                  {{form.weight.label}}
                </div>
                <div class="input-field col s12 m12">
                  {{form.height}}
                  {{form.height.label}}
                </div>
                <div class="file-field col input-field s12 m12">
                  <div class="green darken-4 btn btn-primary">
                    {{ form.profile_image() }}
                    {{ form.profile_image.label }}
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3"
                  type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>