{% extends "/base/base_layout.html" %}
{% block content %}
<div class="">
  <div class="row" style="margin-top: 5%">
    <div class="col s12 m12 l8 offset-l2">
      <div class="card white">
        <div class="card-content">
          <div class="row">
            <span class="card-title col">Profile</span>
            <div align="right">
              <a class="btn-floating btn-primary" href="{{ url_for('user.edit_profile') }}">
                <i class="material-icons">settings</i>
              </a>
            </div>
          </div>
          <div class="row" style="margin-top: 1%">
            <div class="col s6 m6 l2.5 xl1.5 center-align">
              <!-- <div class="col s12 m12 l5 xl3 center-align"> -->
              {% if user.profile_image %}
              <img height="200px" class="circle"
                src="{{ url_for('user.user_image', file_name=user.profile_image.filename) }}">
              {% else %}
              <img height="200px" class="circle"
                src="{{ url_for('static', filename='images/undraw_male_avatar_323b.png') }}">
              {% endif %}
              <div class="row" style="margin-top: 5%">
              {#% if not fitbit.status == 'connected' %#}
                <!-- <a class="valign-wrapper waves-effect waves-light btn-large col s4 offset-s2 -2m " style="display: flex;
                  justify-content: space-between;background-color:#D8D6CA;color:rgb(100, 85, 85);"><img
                    src="{{ url_for('static', filename='images/fitbit_icon.png') }}" style="height: 0.6cm;">
                  <font size="-1">Connect</font>
                </a> -->
                {#% else %#}
                <!-- <a class="valign-wrapper waves-effect waves-light btn-large col s4 offset-s2 -2m " style="display: flex;
                  justify-content: space-between;background-color:#888984;color:white;"><img
                    src="{{ url_for('static', filename='images/fitbit_icon.png') }}" style="height: 0.6cm;">
                  <font size="-1">Connected</font>
                </a> -->
                {#% endif %#}
                {#% if not google_fit.status == 'connected' %#}
                <!-- <a class="valign-wrapper waves-effect waves-light btn-large col s4  " style="display: flex;
                  justify-content: space-between;background-color:#D8D6CA;color:rgb(100, 85, 85);"><img
                    src="{{ url_for('static', filename='images/google_fit_icon.png') }}" style="height: 0.6cm;">
                  <font size="-1">Connect</font>
                </a> -->
                {#% else %#}
                <!-- <a class="valign-wrapper waves-effect waves-light btn-large col s4  " style="display: flex;
                  justify-content: space-between;background-color:#888984;color:white;"><img
                    src="{{ url_for('static', filename='images/google_fit_icon.png') }}" style="height: 0.6cm;">
                  <font size="-1">Connected</font>
                </a> -->
                {#% endif %#}
              </div>
              <!-- </div> -->
            </div>
            <div class="col s6 m6">
              <div class="col s12 m12 l7 xl8" style="margin-top: 1rem">
                <h6>Name : <b>{{user.firstname}} {{user.lastname}}</b></h6>
                <h6>Age: <b>{{user.age}}</b> </h6>
                <h6>Sex : <b>{{user.sex}}</b> </h6>
                <h6>Weight :<b>{{user.weight}}</b></h6>
                <h6>Height :<b>{{user.height}}</b></h6>
                <h6>BMI : <b>{{ "{:,.2f}".format(user.bmi) }}</b></h6>
                <h6>Calrories Out : <b>{{user.calories_out}}</b></h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}