{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <div class="row">
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Add More Recipe</span>
                <form enctype="multipart/form-data" method="POST">
                {{form.csrf_token}}
                  <div class="row" style="margin-top: 2%">
                    <div class="input-field col s12 m12">
                      {{form.name}}
                      {{form.name.label}}
                    </div>
                    <div class="input-field col s12 m12">
                      {{form.description}}
                      {{form.description.label}}
                    </div>
                    <div class="input-field col s12 m12">
                      {{form.tags}}
                      {{form.tags.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.calories}}
                      {{form.calories.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.unit}}
                      {{form.unit.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.ingredient_num}}
                      {{form.ingredient_num.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.methods_num}}
                      {{form.methods_num.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.food_type}}
                      {{form.food_type.label}}
                    </div>
                  <div class="row">
                    <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
      
{% endblock %}
