{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <div class="row">
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Edit Image Recipe</span>
                <form enctype="multipart/form-data" method="POST">
                {{form.csrf_token}}
                  <div class="row" style="margin-top: 2%">
                    <div class="file-field col input-field s12 m12">
                        <div class="green darken-4 btn btn-primary">
                            {{ form.image() }}
                            {{ form.image.label }}  
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                  <div class="row">
                    <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="right">
                <a href="{{url_for('recipe.recipe_info', recipe_id=recipe.id)}}" class="waves-effect waves-light btn">Continue</a>
          </div>
        </div>
    </div>
      
{% endblock %}
