{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
    <form enctype="multipart/form-data" method="POST">
    {{form.csrf_token}}
        <div class="row">
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Edit Ingredient</span>
                  {% for subform in form.ingredients %}
                  <div class="row" style="margin-top: 2%">
                    <div class="input-field col s12 m12">
                      {{subform.in_name}}
                      {{subform.in_name.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{subform.volume}}
                      {{subform.volume.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{subform.amount_type}}
                      {{subform.amount_type.label}}
                    </div>
                 </div>
                 {% endfor %}
              </div>
            </div>
          </div>
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
                <div class="card white z-depth-3">
                  <div class="card-content">
                    <span class="card-title">Edit Method</span>
                    {% for subform in form.methods %}
                      <div class="row" style="margin-top: 2%">
                        <div class="input-field col s12 m12">
                          {{subform.info}}
                          {{subform.info.label}}
                        </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
          </div>
          <div class="row">
            <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
          </div>
        </div>
    </form>
    </div>

{% endblock %}
