{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Recipe</span>
            <div class="row" style="margin-top: 2%">
              <div class="col s6 m6">
                {% if recipe.image %}
                  <img class="activator" width="300" height="310" src="{{ url_for('recipe.recipe_image', recipe_id=recipe.id, file_name=recipe.image.filename) }}" >
                {% else %}
                  <img class="activator" width="300" height="310" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
                {% endif %}
              </div>
              <div class="col s6 m6">
                    <div class="input-field col s12 m12">
                      Name : 
                      {{ recipe.name }}
                    </div>
                    <div class="input-field col s12 m12">
                      Food Type : 
                      {% if recipe.side_dish %}
                        Side dish
                      {% else %}
                        A la carte
                      {% endif %}
                    </div>
                    <div class="input-field col s12 m12">
                      Description : 
                      {{ recipe.description }}
                    </div>
                    <div class="input-field col s12 m12">
                      Tags : 
                      {% for tag in recipe.tags %}
                        {{ tag }}
                      {% endfor %}
                    </div>
                    <div class="input-field col s6 m6">
                      Calories : 
                      {{ recipe.calories }} / {{ recipe.unit }}
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Ingredients</span>
            <div class="row" style="margin-top: 2%">
                {% for ingredient in recipe.ingredients %}    
                <div class="input-field col s12 m12">
                     {{ loop.index }} : {{ ingredient.name }}  {{ ingredient.volume }}  {{ ingredient.amount_type }}
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Methods</span>
            <div class="row" style="margin-top: 2%">
                {% for method in recipe.methods %}
                <div class="input-field col s12 m12">
                  {{ loop.index }} : {{ method }}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="{{ url_for('recipe.edit_recipe', recipe_id=recipe.id) }}" >
    <i class="large material-icons">mode_edit</i>
  </a>
</div>
{% endblock %}
