{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
            <span style="font-size: 1.64rem">Recipe</span>
            <div class="divider"></div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Recipe Name</th>
                                <th>Calories</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recipe in recipes %}
                            <tr>
                                <td>{{ recipe.name }}</td>
                                <td>{{ recipe.calories }} / {{ recipe.unit }}</td>
                                <td><a class="btn-floating btn-small" style="background-color:#1E3B4C" href="{{ url_for('recipe.recipe_info', recipe_id=recipe.id) }}"><i class="material-icons">description</i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="{{ url_for('recipe.add_recipe') }}" >
          <i class="large material-icons">add_to_photos</i>
        </a>
    </div>
{% endblock %}
