<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{{ config.get('APP_TITLE') }}{% endblock %}</title>
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='node_modules/materialize-css/dist/css/materialize.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/material-icons/iconfont/material-icons.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instance = M.Sidenav.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.tooltipped');
      var instances = M.Tooltip.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.materialboxed');
      var instances = M.Materialbox.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.autocomplete');
      var instances = M.Autocomplete.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        direction: 'left',
        hoverEnabled: false
      });
    });
  </script>
</head>

<body class="grey lighten-3">
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>

  <div class="row">
    <div class="col s12 m12 l8 xl6 offset-l2 offset-xl3 " style="margin-top: 5%">
      <div class="container">
        <div class="card white z-depth-3">
          <div class="card-content">

            <div class="card-content">
              <span class="card-content" style="font-size: 3em; color: #316A23;">LOGIN</span>
              <div class="row">
                <form class="col s12" method="POST">
                  <div class="row center">
                    <img height="300px" src="{{url_for('static', filename='images/undraw_healthy_options_sdo3.png')}}">
                    <a href="{{ url_for('loginpass_google.login') }}"
                      class="waves-effect waves-light btn-large social google col s8 offset-s2"
                      style="background-color:#0F9D58;">
                      <i class="fab fa-google"></i> Sign in with google </a>
                    <a href="{{ url_for('oauth.login_fitbit') }}"
                      class="waves-effect waves-light btn-large social google col s8 offset-s2"
                      style="background-color:#002A3A ;display: flex;justify-content: center; margin-top: 1em;">
                      <img src="{{ url_for('static', filename='images/fitbit_icon.png') }}" style="height: 0.8cm;margin-top: 0.3cm;margin-right: 0.2cm;">
                      Sign in with fitbit </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
