{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <div class="row">
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <ul class="pagination">
              <li class="active"><a href="#!">What did you get</a></li>
              <li class="waves-effect"><a href="{{ url_for('food.food_list') }}">Food previously</a></li>
            </ul>
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">What did you get?</span>
                <form enctype="multipart/form-data" method="POST">
                    {{form.csrf_token}}
                      <div class="row" style="margin-top: 2%">
                        <div class="input-field col s12 m12">
                            {{form.food_name}}
                            {{form.food_name.label}}
                        </div>
                        <div class="input-field col s12 m12">
                            {{form.cal_in}}
                            {{form.cal_in.label}}
                        </div>
                        <div class="input-field col s12 m12">
                            {{form.date_eat(class='datepicker')}}
                            {{form.date_eat.label}}
                        </div>
                        <div class="input-field col s12 m12">
                            {{form.time_eat(class='timepicker')}}
                            {{form.time_eat.label}}
                        </div>
                      <div class="row">
                        <button class="green darken-4 btn btn-primary col s6 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
                      </div>
                    </form>
                    
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
`