{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <div class="row">
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Edit Food</span>
                <div class="col s12">
                  <a href="#modalDelete" class="right modal-trigger red btn" style="border-radius: 5px"><i class="material-icons">delete</i>Delete</a>
                </div>
                <form enctype="multipart/form-data" method="POST">
                    {{form.csrf_token}}
                      <div class="row" style="margin-top: 2%">
                        <div class="input-field col s12 m12">
                            {{form.name}}
                            {{form.name.label}}
                        </div>
                        <div class="input-field col s12 m12">
                            {{form.description}}
                            {{form.description.label}}
                        </div>
                        <div class="input-field col s12 m12">
                            {{form.restaurant}}
                            {{form.restaurant.label}}
                          </div>
                        <div class="input-field col s12 m12">
                            {{form.tags}}
                            {{form.tags.label}}
                        </div>
                        <div class="input-field col s6 m6">
                            {{form.calories}}
                            {{form.calories.label}}
                        </div>
                        <div class="col s12 m12">
                          <p>
                              <label>
                                  {{form.protein}}
                                <span>{{form.protein.label}}</span>
                              </label>
                            </p>
                        </div>
                        <div class="col s12 m12">
                          <p>
                              <label>
                                  {{form.carbohydrate}}
                                <span>{{form.carbohydrate.label}}</span>
                              </label>
                            </p>
                        </div>
                        <div class="col s12 m12">
                          <p>
                              <label>
                                  {{form.vitamin}}
                                <span>{{form.vitamin.label}}</span>
                              </label>
                            </p>
                        </div>
                        <div class="col s12 m12">
                          <p>
                              <label>
                                  {{form.mineral}}
                                <span>{{form.mineral.label}}</span>
                              </label>
                            </p>
                        </div>
                        <div class="col s12 m12">
                          <p>
                              <label>
                                  {{form.fat}}
                                <span>{{form.fat.label}}</span>
                              </label>
                            </p>
                        </div>
                        <div class="file-field col input-field s12 m12" style="margin-top: 5%">
                          <div class="green darken-4 btn btn-primary">
                              {{ form.image() }}
                              {{ form.image.label }}  
                          </div>
                          <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                          </div>
                        </div>
                      <div class="row">
                        <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div id="modalDelete" class="modal">
      <div class="modal-content">
        <div class="row center">
          <h5>Do you want to delete this information?</h5>
        </div>
        <div class="row center">
          <a class="btn light-blue darken-4 z-depth-0" href="{{ url_for('food.delete_food', food_id=food.id) }}">Yes</a>
          <a class="btn red darken-2 z-depth-0 modal-close" >No</a>
        </div>
      </div>
    </div>
      
{% endblock %}
