{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Recipe</span>
            <div class="col s12">
              <a href="#modalSelect" class="right modal-trigger red btn" style="border-radius: 5px"><i class="material-icons left">check</i>Select this food</a>
            </div>
            <div class="row" style="margin-top: 2%">
              <div class="col s6 m6">
                {% if food.image %}
                  <img class="activator" width="300" height="310" src="{{ url_for('food.food_image', food_id=food.id, file_name=food.image.filename) }}" >
                {% else %}
                  <img class="activator" width="300" height="310" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
                {% endif %}
              </div>
              <div class="col s6 m6">
                    <div class="input-field col s12 m12">
                      Name : 
                      {{ food.name }}
                    </div>
                    <div class="input-field col s12 m12">
                      Description : 
                      {{ food.description }}
                    </div>
                    <div class="input-field col s12 m12">
                      Restaurant : 
                      {{ food.restaurant }}
                    </div>
                    <div class="input-field col s12 m12">
                      Calories : 
                      {{ food.calories }}
                    </div>
                    <div class="input-field col s12 m12">
                      Tags : 
                      {% for tag in food.tags %}
                        {{ tag }}
                      {% endfor %}
                    </div>
                    <div class="input-field col s12 m12">
                      Calories : 
                      {{ food.calories }}
                    </div>
                    <div class="input-field col s12 m12">
                      Created by : 
                      {{ food.user_created.firstname }} {{ food.user_created.lastname }}
                    </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Food Group</span>
          <table>
            <tbody>
              <tr>
                <td>Protein</td>
                <td>
                  {% if food.food_group.protein %}
                    <a><span class="green-text name"> <i class="material-icons">check</i></span></a>
                  {% else %}
                    <a><span class="red-text name"> <i class="material-icons">clear</i></span></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Carbohydrate</td>
                <td>
                  {% if food.food_group.carbohydrate %}
                    <a><span class="green-text name"> <i class="material-icons">check</i></span></a>
                  {% else %}
                    <a><span class="red-text name"> <i class="material-icons">clear</i></span></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Vitamin</td>
                <td>
                  {% if food.food_group.vitamin %}
                    <a><span class="green-text name"> <i class="material-icons">check</i></span></a>
                  {% else %}
                    <a><span class="red-text name"> <i class="material-icons">clear</i></span></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Mineral</td>
                <td>
                  {% if food.food_group.mineral%}
                    <a><span class="green-text name"> <i class="material-icons">check</i></span></a>
                  {% else %}
                    <a><span class="red-text name"> <i class="material-icons">clear</i></span></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Fat</td>
                <td>
                  {% if food.food_group.fat %}
                    <a><span class="green-text name"> <i class="material-icons">check</i></span></a>
                  {% else %}
                    <a><span class="red-text name"> <i class="material-icons">clear</i></span></a>
                  {% endif %}
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="modalSelect" class="modal">
  <div class="modal-content">
    <div class="row center">
      <h5>Do you want to select this food?</h5>
    </div>
    <div class="row center">
      <a class="btn light-blue darken-4 z-depth-0" href="{{ url_for('food.select_food', food_id=food.id) }}">Yes</a>
      <a class="btn red darken-2 z-depth-0 modal-close" >No</a>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="{{ url_for('food.edit_food', food_id=food.id) }}" >
    <i class="large material-icons">mode_edit</i>
  </a>
</div>
{% endblock %}
