{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 3%">
        <span style="font-size: 1.64rem">Food that you've already eaten</span>
        <div class="divider"></div>
        <ul class="pagination">
            <li class="waves-effect"><a href="{{ url_for('food.another_food') }}">What did you get</a></li>
            <li class="active"><a href="#!">Food previously</a></li>
        </ul>
        <ul class="pagination">
            <li class="waves-effect"><a href="{{ url_for('food.food_list') }}">All</a></li>
            <li class="waves-effect"><a href="{{ url_for('food.food_list_order') }}">Order by calories</a></li>
            <li class="active"><a href="#!">Recommend</a></li>
        </ul>
        <div class="row" style="margin-top: 3%">
            <div class="col s12 m12">
                <nav class="white">
                <div class="nav-wrapper">
                    <form action="{{ url_for('food.search_result') }}" method="GET">
                    <div class="input-field">
                        <input id="search" type="search" name="search" placeholder="Find your food" class="validate search-field">
                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                        <input type="submit" class="hide">
                        <i class="material-icons close-btn">close</i>
                    </div>
                    </form>s
                </div>
                </nav>
            </div>
        </div>
        <div class="card grey lighten-5" style="margin-top: 3%" >
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Food Name</th>
                                <th>Calories</th>
                                <th>Restaurant</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for f in food %}
                            <tr>
                                <td>{{ f.name }}</td>
                                <td>{{ f.calories }}</td>
                                <td>{{ f.restaurant }}</td>
                                <td>
                                    <a class="btn-floating btn-small" 
                                    style="background-color:#1E3B4C" 
                                    href="{{ url_for('food.food_information', food_id=f.id) }}">
                                     <i class="material-icons">description</i>
                                    </a></td>
                                <td>
                                    {% if f.calories <= 600 %}
                                        <a><span class="green-text name">Calories Recommended</span></a>
                                    {% endif %}
                                    </td>
                                <td>
                                    <a href="#modalSelect" class="right modal-trigger red btn" style="border-radius: 5px">
                                        <i class="material-icons">check</i>Select this food
                                    </a></td>
                            </tr>
                            <div id="modalSelect" class="modal">
                                <div class="modal-content">
                                  <div class="row center">
                                    <h5>Do you want to select this food?</h5>
                                  </div>
                                  <div class="row center">
                                    <a class="btn light-blue darken-4 z-depth-0" href="{{ url_for('food.select_food', food_id=f.id) }}">Yes</a>
                                    <a class="btn red darken-2 z-depth-0 modal-close" >No</a>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
</div>


<div class="fixed-action-btn">
<a class="btn-floating btn-large btn modal-trigger red lighten-1" href="{{ url_for('food.add_food') }}" >
    <i class="large material-icons">move_to_inbox</i>
</a >
</div>



{% endblock %}
