{% extends "/base/base_layout.html" %}
{% block content %}
  <form enctype="multipart/form-data" method="POST">
  {{form.csrf_token}}
    <div class="container" style="margin-top: 5%">
        <div class="row">
          
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Item</span>
                  <div class="row" style="margin-top: 2%">
                    <div class="input-field col s12 m12">
                      {{ form.name }}
                      {{ form.name.label }}
                    </div>
                    <div class="input-field col s12 m12">
                      {{form.description}}
                      {{form.description.label}}
                    </div>
                    <div class="input-field col s12 m12">
                      {{form.tags}}
                      {{form.tags.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.upc}}
                      {{form.upc.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.color}}
                      {{form.color.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.size}}
                      {{form.size.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.weight}}
                      {{form.weight.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.dimension}}
                      {{form.dimension.label}}
                    </div>
                    <div class="file-field col input-field s12 m12">
                        <div class="green darken-4 btn btn-primary">
                            {{ form.ingredient_image() }}
                            {{ form.ingredient_image.label }}  
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="file-field col input-field s12 m12">
                        <div class="green darken-4 btn btn-primary">
                            {{ form.nutrition_image() }}
                            {{ form.nutrition_image.label }}  
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="file-field col input-field s12 m12">
                        <div class="green darken-4 btn btn-primary">
                            {{ form.upc_image() }}
                            {{ form.upc_image.label }}  
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.status}}
                      {{form.status.label}}
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Allergen</span>
                  <div class="row" style="margin-top: 2%">
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.eggs}}
                            <span>{{form.eggs.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.fish}}
                            <span>{{form.fish.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.gluten}}
                            <span>{{form.gluten.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.milk}}
                            <span>{{form.milk.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.peanuts}}
                            <span>{{form.peanuts.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.shellfish}}
                            <span>{{form.shellfish.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.soybeans}}
                            <span>{{form.soybeans.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.tree_nuts}}
                            <span>{{form.tree_nuts.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.wheat}}
                            <span>{{form.wheat.label}}</span>
                          </label>
                        </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Food Group</span>
                  <div class="row" style="margin-top: 2%">
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.protein}}
                            <span>{{form.protein.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.carbohydrate}}
                            <span>{{form.carbohydrate.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.vitamin}}
                            <span>{{form.vitamin.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.mineral}}
                            <span>{{form.mineral.label}}</span>
                          </label>
                        </p>
                    </div>
                    <div class="col s12 m12">
                      <p>
                          <label>
                              {{form.fat}}
                            <span>{{form.fat.label}}</span>
                          </label>
                        </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">NutritionFact</span>
                  <div class="row" style="margin-top: 2%">
                    <div class="input-field col s6 m6">
                      {{form.calcium_dv}}
                      {{form.calcium_dv.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.calories}}
                      {{form.calories.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.calories_from_fat}}
                      {{form.calories_from_fat.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.cholesterol}}
                      {{form.cholesterol.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.dietary_fiber}}
                      {{form.dietary_fiber.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.ingredient_statement}}
                      {{form.ingredient_statement.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.iron_dv}}
                      {{form.iron_dv.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.monounsaturated_fat}}
                      {{form.monounsaturated_fat.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.polyunsaturated_fat}}
                      {{form.polyunsaturated_fat.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.proteins}}
                      {{form.proteins.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.refuse_pct}}
                      {{form.refuse_pct.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.saturated_fat}}
                      {{form.saturated_fat.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.serving_size_quantity}}
                      {{form.serving_size_quantity.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.serving_size_unit}}
                      {{form.serving_size_unit.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.serving_weight_grams}}
                      {{form.serving_weight_grams.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.servings_per_container}}
                      {{form.servings_per_container.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.sodium}}
                      {{form.sodium.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.sugars}}
                      {{form.sugars.label}}
                    </div><div class="input-field col s6 m6">
                      {{form.total_carbohydrate}}
                      {{form.total_carbohydrate.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.total_fat}}
                      {{form.total_fat.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.trans_fatty_acid}}
                      {{form.trans_fatty_acid.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.vitamin_a_dv}}
                      {{form.vitamin_a_dv.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.vitamin_c_dv}}
                      {{form.vitamin_c_dv.label}}
                    </div>
                    <div class="input-field col s6 m6">
                      {{form.water_grams}}
                      {{form.water_grams.label}}
                    </div>
                  </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
        </div>
    </div>
  </form>
{% endblock %}