{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Add Item by UPC Code</span>
          <div class="col s12">
            <a href="{{ url_for('food_log.add_food_log') }}" class="waves-effect waves-light right modal-trigger red btn"
              style="border-radius: 5px"><i class="material-icons left">add_box</i> Add by your self </a>
          </div>
          <form enctype="multipart/form-data" method="POST">
            {{form.csrf_token}}
            <div class="row" style="margin-top: 2%">
              <div class="input-field col s12 m12">
                {{form.upc}}
                {{form.upc.label}}
              </div>
            </div>
            <div class="row">
              <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3"
                type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}