{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <span style="font-size: 1.64rem">Nutrition</span>
        <div class="divider"></div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Food Name</th>
                                <th>Amount</th>
                                <th>Calorie</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.weight }}</td>
                                {% for nutrition in nutritions %}
                                    {% if nutrition.item == item %}
                                        <td>{{ nutrition.facts.calories }}</td>
                                        <td><a class="btn-floating btn-small" style="background-color:#1E3B4C" href="{{ url_for('food_log.nutrition', nutrition_id=nutrition.id)}}"><i class="material-icons">description</i></a></td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="{{ url_for('food_log.add_upc') }}" >
          <i class="large material-icons">add_to_photos</i>
        </a>
    </div>
{% endblock %}
