{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title"><b>Item</b></span>
            <div class="row" style="margin-top: 2%">
              <div class="input-field col s12 m12">
                Item Name : 
                {{ nutrition.item.name }}
              </div>
              {% if nutrition.item.image %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img src="{{ url_for('food_log.food_log_image', item_id=nutrition.item.id, file_name=nutrition.item.image.filename) }}" 
                class="circle" 
                width="150"
                height="150"
                style="margin-top: 1rem; object-fit: cover; ">
              </div>
              {% else %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img class="activator" width="200" height="150" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
              </div>
              {% endif %}
              <!-- {% if nutrition.item.nutrition_image %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img src="{{ url_for('food_log.food_log_nutrition_image', item_id=nutrition.item.id, file_name=nutrition.item.nutrition_image.filename) }}" 
                class="circle" 
                width="150"
                height="150"
                style="margin-top: 1rem; object-fit: cover; ">
              </div>
              {% else %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img class="activator" width="150" height="150" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
              </div>
              {% endif %}
              {% if nutrition.item.ingredient_image %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img src="{{ url_for('food_log.food_log_ingredient_image', item_id=nutrition.item.id, file_name=nutrition.item.ingredient_image.filename) }}" 
                class="circle" 
                width="150"
                height="150"
                style="margin-top: 1rem; object-fit: cover; ">
              </div>
              {% else %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img class="activator" width="150" height="150" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
              </div>
              {% endif %}
              {% if nutrition.item.upc_image %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img src="{{ url_for('food_log.food_log_upc_image', item_id=nutrition.item.id, file_name=nutrition.item.upc_image.filename) }}" 
                class="circle" 
                width="150"
                height="150"
                style="margin-top: 1rem; object-fit: cover; ">
              </div>
              {% else %}
              <div class="col s12 m12 l5 xl3 center-align">
                <img class="activator" width="150" height="150" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
              </div>
              {% endif %} -->


              <div class="input-field col s12 m12">
                Description : 
                {{nutrition.item.description}}
              </div>
              <div class="input-field col s12 m12">
                Tags : 
                {% for tag in nutrition.item.tags %}
                  {{ tag }}
                {% endfor %}
              </div>
              <div class="input-field col s6 m6">
                UPC : 
                {{nutrition.item.upc}}
              </div>
              <div class="input-field col s6 m6">
                Color : 
                {{nutrition.item.color}}
              </div>
              <div class="input-field col s6 m6">
                Size : 
                {{nutrition.item.size}}
              </div>
              <div class="input-field col s6 m6">
                Weight : 
                {{nutrition.item.weight}}
              </div>
              <div class="input-field col s6 m6">
                Dimension :
                {{nutrition.item.dimension}}
              </div>
              <div class="input-field col s6 m6">
                Status : 
                {{nutrition.item.status}}
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title"><b>Allergen</b></span>
            <div class="row" style="margin-top: 2%">
              <div class="input-field col s4 m4">
                <span class="left">Eggs : </span>
                {% if nutrition.allergen.eggs %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Fish : </span> 
                {% if nutrition.allergen.fish %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Gluten : </span> 
                {% if nutrition.allergen.gluten %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Milk : </span> 
                {% if nutrition.allergen.milk %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Peanuts : </span>
                {% if nutrition.allergen.peanuts %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Shellfish : </span>
                {% if nutrition.allergen.shellfish %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Soybeans : </span>
                {% if nutrition.allergen.soybeans %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Tree nuts : </span>
                {% if nutrition.allergen.tree_nuts %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Wheat : </span>
                {% if nutrition.allergen.wheat %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title"><b>Food Group</b></span>
            <div class="row" style="margin-top: 2%">
              <div class="input-field col s4 m4">
                <span class="left"> Protein : </span>
                {% if nutrition.food_group.protein %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Carbohydrate : </span>
                {% if nutrition.food_group.carbohydrate %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Vitamin : </span>
                {% if nutrition.food_group.vitamin %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left"> Mineral : </span>
                {% if nutrition.food_group.mineral %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
              <div class="input-field col s4 m4">
                <span class="left">Fat : </span>
                {% if nutrition.food_group.fat %}
                  <i class="green-text name material-icons left">check</i>
                {% else %}
                  <i class="red-text name material-icons left">clear</i>
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title"><b>NutritionFact</b></span>
            <div class="row" style="margin-top: 2%">
              <div class="input-field col s6 m6">
                Calcium_dv : 
                {{nutrition.facts.calcium_dv}}
              </div>
              <div class="input-field col s6 m6">
                Calories : 
                {{nutrition.facts.calories}}
              </div>
              <div class="input-field col s6 m6">
                Calories_from_fat : 
                {{nutrition.facts.calories_from_fat}}
              </div>
              <div class="input-field col s6 m6">
                Cholesterol : 
                {{nutrition.facts.cholesterol}}
              </div>
              <div class="input-field col s6 m6">
                Dietary_fiber : 
                {{nutrition.facts.dietary_fiber}}
              </div>
              <div class="input-field col s6 m6">
                ingredient_statent : 
                {{nutrition.facts.ingredient_statent}}
              </div>
              <div class="input-field col s6 m6">
                Iron_dv :
                {{nutrition.facts.iron_dv}}
              </div>
              <div class="input-field col s6 m6">
                Monounsaturated_fat : 
                {{nutrition.facts.monounsaturated_fat}}
              </div>
              <div class="input-field col s6 m6">
                Polyunsaturated_fat : 
                {{nutrition.facts.polyunsaturated_fat}}
              </div>
              <div class="input-field col s6 m6">
                Protein : 
                {{nutrition.facts.protein}}
              </div>
              <div class="input-field col s6 m6">
                Refuse_pct : 
                {{nutrition.facts.refuse_pct}}
              </div>
              <div class="input-field col s6 m6">
                Saturated_fat :
                {{nutrition.facts.saturated_fat}}
              </div>
              <div class="input-field col s6 m6">
                Serving_size_quantity : 
                {{nutrition.facts.serving_size_quantity}}
              </div>
              <div class="input-field col s6 m6">
                Serving_size_unit : 
                {{nutrition.facts.serving_size_unit}}
              </div>
              <div class="input-field col s6 m6">
                Serving_weight_grams : 
                {{nutrition.facts.serving_weight_grams}}
              </div>
              <div class="input-field col s6 m6">
                Servings_per_container : 
                {{nutrition.facts.servings_per_container}}
              </div>
              <div class="input-field col s6 m6">
                Sodium : 
                {{nutrition.facts.sodium}}
              </div>
              <div class="input-field col s6 m6">
                Sugars : 
                {{nutrition.facts.sugars}}
              </div>
              <div class="input-field col s6 m6">
                Total_carbohydrate : 
                {{nutrition.facts.total_carbohydrate}}
              </div>
              <div class="input-field col s6 m6">
                Total_fat : 
                {{nutrition.facts.total_fat}}
              </div>
              <div class="input-field col s6 m6">
                Trans_fatty_acid :
                {{nutrition.facts.trans_fatty_acid}}
              </div>
              <div class="input-field col s6 m6">
                Vitamin_a_dv : 
                {{nutrition.facts.vitamin_a_dv}}
              </div>
              <div class="input-field col s6 m6">
                Vitamin_c_dv : 
                {{nutrition.facts.vitamin_c_dv}}
              </div>
              <div class="input-field col s6 m6">
                Water_grams : 
                {{nutrition.facts.water_grams}}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="{{ url_for('food_log.edit_food_log', item_id=nutrition.item.id, nutrition_id=nutrition.id) }}" >
    <i class="large material-icons">mode_edit</i>
  </a>
</div>
{% endblock %}
