{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
            <span style="font-size: 1.64rem">Eating Logs</span>
            <div class="divider"></div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Food Name</th>
                                <th>Calories</th>
                                <th>Time to eat</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in eating_data %}
                            <tr>
                                <td>{{ data.food_name }}</td>
                                <td>{{ data.calories }}</td>
                                <td>{{ data.datetime_eat.strftime('%d-%m-%Y, %H:%M') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}