{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <div class="row">
          <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
            <div class="card white z-depth-3">
              <div class="card-content">
                <span class="card-title">Increase this stock</span>
                <form enctype="multipart/form-data" method="POST">
                {{form.csrf_token}}
                  <div class="row" style="margin-top: 2%">
                    <div class="input-field col s12 m12">
                        You have {{ stock.volume }} {{ stock.amount_type }} of {{ stock.name }} in stock
                    </div>
                    <div class="input-field col s6 m6">
                        {{form.volume}}
                        {{form.volume.label}}
                    </div>
                    <div class="input-field col s6 m6">
                        {{ stock.amount_type }}
                    </div>
                  <div class="row">
                    <button class="green darken-4 btn btn-primary col s12 m6 l6 xl6 offset-m3 offset-l3 offset-xl3" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
      
{% endblock %}