{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Stock Infomation</span>
            <div class="row" style="margin-top: 2%">
              <div class="col s12 m12 l7 xl8" style="margin-top: 1rem">
                Name : 
                {{ stock.name }}
              </div>
              <div class="col s12 m12 l7 xl8" style="margin-top: 1rem">
                Description : 
                {{ stock.description }}
              </div>
              <div class="col s12 m12 l7 xl8" style="margin-top: 1rem">
                Tags :
                {% for tag in stock.tags %}
                  {{ tag }}
                {% endfor %}
              </div>
              <div class="col s12 m12 l7 xl8" style="margin-top: 1rem">
                Amount : 
                {{ stock.volume }}  {{ stock.amount_type }}
              </div>
              <div class="col s12 m12 l7 xl8" style="margin-top: 1rem">
                Status : 
                {% if stock.volume > 0  %}
                  Have in Stock
                {% else %}
                  Out of Stock
                {% endif %}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red lighten-1" href="{{ url_for('stock.edit_stock', stock_id= stock.id) }}" >
    <i class="large material-icons red lighten-1">mode_edit</i>
  </a>
</div>
{% endblock %}

