{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <span style="font-size: 1.64rem">Stock</span>
        <div class="divider"></div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Stock Name</th>
                                <th>Amount</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for stock in stocks %}
                            <tr>
                                <td>{{ stock.name }}</td>
                                <td>{{ stock.volume }} {{ stock.amount_type }}</td>
                                {% if stock.volume > 0 %}
                                    <td>Have in stock</td>
                                {% else %}
                                    <td>Out of stock</td>
                                {% endif %}
                                <td>
                                    <a class="btn-floating btn-small red lighten-1" href="{{ url_for('stock.increase_stock', stock_id=stock.id) }}"><i class="material-icons">add</i></a>
                                    <a class="btn-floating btn-small" style="background-color:#1E3B4C" href="{{ url_for('stock.stock_info', stock_id=stock.id) }}"><i class="material-icons">description</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>  
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="{{ url_for('stock.add_stock') }}" >
          <i class="large material-icons">add_to_photos</i>
        </a>
    </div>
{% endblock %}
