{% extends "/base/base_layout.html" %}

{% block content %}
    <div class="container" style="margin-top: 5%">
        <span style="font-size: 1.64rem">Menu Suggestion</span>
        <ul class="pagination">
            <li class="active"><a href="#!">All Menu</a></li>
            <li class="waves-effect"><a href="{{ url_for('suggestion.suggest_menu_a_la_carte') }}">A la carte</a></li>
            <li class="waves-effect"><a href="{{ url_for('suggestion.suggest_menu_side_dish') }}">Side Dish</a></li>
        </ul>
        <div class="divider"></div>
        <ul class="pagination">
            <li class="active"><a href="#!">All</a></li>
            <li class="waves-effect"><a href="{{ url_for('suggestion.order_suggest') }}">Order by calories</a></li>
            <li class="waves-effect"><a href="{{ url_for('suggestion.rec_suggest') }}">Recommend</a></li>
        </ul>
        <div class="row" style="margin-top: 3%">
            <div class="col s12 m12">
                <nav class="white">
                <div class="nav-wrapper">
                    <form action="{{ url_for('suggestion.suggestion_search_result') }}" method="GET">
                    <div class="input-field">
                        <input id="search" type="search" name="search" placeholder="Find your Menu" class="validate search-field">
                        <label class="label-icon" for="search"><i class="material-icons black-text">search</i></label>
                        <input type="submit" class="hide">
                        <i class="material-icons close-btn">close</i>
                    </div>
                    </form>
                </div>
                </nav>
            </div>
        </div>
        <div class="row" style="margin-top: 3%">
        {% for recipe in recipes %}
                {% if recipe.ingredient_status %}
                    <div class="col s12 m6">
                        <div class="card">
                        <div class="card-image">
                                {% if recipe.image %}
                                  <img class="activator" width="300" height="310" src="{{ url_for('recipe.recipe_image', recipe_id=recipe.id, file_name=recipe.image.filename) }}" >
                                  <span class="card-title">{{ recipe.name }}</span>
                                {% else %}
                                  <img class="activator" width="300" height="310" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" >
                                  <span class="card-title black-text">{{ recipe.name }}</span>
                                {% endif %}
                            <a href="{{ url_for('suggestion.suggest_info', recipe_id=recipe.id) }}" class="btn-floating halfway-fab waves-effect waves-light red lighten-1"><i class="material-icons">chevron_right</i></a>
                        </div>
                        <div class="card-content">
                            {% if recipe.calories <= 600 and recipe.calories <= user.cal_limit %}
                                <a class="chip teal lighten-2"><p>Calories Recommended</p></a>
                            {% else %}
                                <a class="chip red lighten-1"><p>Calories Unrecommended</p></a>
                            {% endif %}
                            {% if recipe.status %}
                                <a class="chip teal lighten-2"><p>Can cook</p></a>
                            {% else %}
                                <a class="chip red lighten-1"><p>Can not cook</p></a>
                            {% endif %}
                            {% if recipe.allergen_status %}
                                <a class="chip red lighten-1"><p>Have allergens</p></a>
                            {% endif %}
                            <p><br></p>
                            <p>Calories : {{ recipe.calories }} / {{ recipe.unit }}</p>
                        </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col s12 m6">
                        <div class="card">
                        <div class="card-image">
                              {% if recipe.image %}
                                <img class="activator" width="300" height="310" src="{{ url_for('recipe.recipe_image', recipe_id=recipe.id, file_name=recipe.image.filename) }}" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);" >
                                <span class="card-title">{{ recipe.name }}</span>
                              {% else %}
                                <img class="activator" width="300" height="310" src="{{ url_for('static', filename='images/undraw_Hamburger_8ge6.png') }}" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);">
                                <span class="card-title black-text">{{ recipe.name }}</span>
                              {% endif %}
                            <a href="{{ url_for('suggestion.suggest_info', recipe_id=recipe.id) }}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                        </div>
                        <div class="card-content">
                            <a class="chip"><p>No some ingredient in stock</p></a>
                            <p><br></p>
                            <p>Calories : {{ recipe.calories }} / {{ recipe.unit }}</p>
                        </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}

