{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="row">
          <div class="right">
            {% if recipe.ingredient_status %}
            <a class="waves-effect waves-light btn-large modal-trigger red lighten-1" href="#modal1"><i class="material-icons left">restaurant</i>Select this recipe</a>
            {% else %}
            <a class="waves-effect waves-light btn-large modal-trigger red lighten-1 disabled" href="#modal1"><i class="material-icons left">restaurant</i>Select this recipe</a>
            {% endif %}
            {% if recipe.ingredient_status %}
            {% else %}
            {% endif %}
          </div>
      </div>
      <div class="card white z-depth-3">
        <div class="card-content">
            {% if not recipe.ingredient_status %}
              <a class="chip right"><p>No some ingredient in stock</p></a>
            {% else %}
              {% if not recipe.status %}
                <a class="chip red lighten-1 right white-text"><p>Can not cook</p></a>
              {% endif %}
              {% if not recipe.calories <= 600 or not recipe.calories <= user.cal_limit %}
                <a class="chip red lighten-1 right white-text"><p>Calories Unrecommended</p></a>
              {% endif %}
              {% if recipe.allergen_status %}
                  <a class="chip red lighten-1 right white-text"><p>Have allergens</p></a>
              {% endif %}
            {% endif %}
          <span class="card-title">Recipe</span>
          <div class="row" style="margin-top: 2%">
              <div class="col s6 m6">
                  {% if recipe.image %}
                  <div class="col s12 m12 l5 xl3 center-align">
                    <img  src="{{ url_for('recipe.recipe_image', recipe_id=recipe.id, file_name=recipe.image.filename) }}" 
                    width="200"
                    height="200"
                    style="margin-top: 1rem; object-fit: cover; ">
                  </div>
                  {% else %}
                  <div class="col s12 m12 l5 xl3 center-align">
                    <div style="width: 200px; height: 200px; background-color: #9e9e9e; padding-top: 60px;">
                      <p class="white-text">NoData</p>
                    </div>
                  </div>
                  {% endif %}
              </div>
              <div class="col s6 m6">
                  <div class="input-field col s12 m12">
                      Name : 
                      {{ recipe.name }}
                    </div>
                    <div class="input-field col s12 m12">
                      Description : 
                      {{ recipe.description }}
                    </div>
                    <div class="input-field col s12 m12">
                      Tags : 
                      {% for tag in recipe.tags %}
                        {{ tag }}
                      {% endfor %}
                    </div>
                    <div class="input-field col s6 m6">
                        Calories : 
                        {{ recipe.calories }} / {{ recipe.unit }}
                      </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Ingredients</span>
            <div class="row" style="margin-top: 2%">
                {% for ingredient in recipe.ingredients %}    
                <div class="input-field col s12 m12">
                  {{ loop.index }} : {{ ingredient.name }}  {{ ingredient.volume }}  {{ ingredient.amount_type }}
                  {% if ingredient.name in list_stock_name %}
                    {% for stock in stocks %}
                      {% if stock.name == ingredient.name and stock.volume >= ingredient.volume %}
                        {% if (stock.nutrition.allergen.eggs) or
                              (stock.nutrition.allergen.fish) or 
                              (stock.nutrition.allergen.gluten) or 
                              (stock.nutrition.allergen.milk) or
                              (stock.nutrition.allergen.peanuts) or
                              (stock.nutrition.allergen.shellfish) or
                              (stock.nutrition.allergen.soybeans) or
                              (stock.nutrition.allergen.tree_nuts) or
                              (stock.nutrition.allergen.wheat) %}
                              <a class="chip red lighten-1"><p>Have allergens</p></a>
                          {% endif %}
                      {% elif stock.name == ingredient.name and stock.volume < ingredient.volume %}
                        <a class="chip red lighten-1 white-text"><p>You have only {{ stock.volume }} {{ ingredient.amount_type }}</p></a>
                        {% if (stock.nutrition.allergen.eggs) or
                          (stock.nutrition.allergen.fish) or 
                          (stock.nutrition.allergen.gluten) or 
                          (stock.nutrition.allergen.milk) or
                          (stock.nutrition.allergen.peanuts) or
                          (stock.nutrition.allergen.shellfish) or
                          (stock.nutrition.allergen.soybeans) or
                          (stock.nutrition.allergen.tree_nuts) or
                          (stock.nutrition.allergen.wheat) %}
                          <a class="chip red lighten-1 white-text"><p>Have allergens</p></a>
                        {% endif %}
                      {% endif %}
                      
                    {% endfor %}
                  {% else %}
                    <a class="chip"><p>Need to add this ingredient in stock</p></a>
                  {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </div>

    <div class="col s12 m12 l10 xl10 offset-l1 offset-xl1 ">
      <div class="card white z-depth-3">
        <div class="card-content">
          <span class="card-title">Methods</span>
            <div class="row" style="margin-top: 2%">
                {% for method in recipe.methods %}
                <div class="input-field col s12 m12">
                  {{ loop.index }} : {{ method }}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row center">
        <h5>Do you want to select this recipe?</h5>
      </div>
      <div class="row center">
        {% if recipe.side_dish %}
          <a class="btn light-blue darken-4 z-depth-0" href="{{url_for('suggestion.food_selected_side_dish', cal=recipe.calories, recipe_id=recipe.id)}}">Yes</a>        
        {% else %}
          <a class="btn light-blue darken-4 z-depth-0" href="{{url_for('suggestion.food_selected', cal=recipe.calories, recipe_id=recipe.id)}}">Yes</a>
        {% endif %}
        <a class="btn red darken-2 z-depth-0 modal-close" >No</a>
      </div>
    </div>
</div>
  
{% endblock %}


