{% extends "/base/base_layout.html" %}
{% block content %}
    <div class="container" style="margin-top: 5%">
        <span style="font-size: 1.64rem">Calories Charts</span>
        <div class="divider"></div>
        <div class="card grey lighten-5" style="margin-top: 3%">
            <div class="container">
                <div class="row">
                    {{ week_div | safe}}
                    {{ week_script | safe}}

                    {{ month_div | safe}}
                    {{ month_script | safe}}
                </div>
                <div class="row">
                    <div class="row">
                        <a><span class="black-text name">Calories limit per day : {{ user.cal_limit }} / 2000</span></a>
                        <div class="progress">
                            <div class="determinate" style="width: {{ (user.cal_limit*100)/2000 }}%"></div>
                        </div>
                        {% if user.cal_limit <= 0 %}
                            <a><span class="red-text name"> <i class="material-icons">warning</i> Calories per day is over</span></a>
                        {% endif %}
                        {% if user.cal_limit_over %}
                            <a><span class="orange-text name"> <i class="material-icons">warning</i> Yesterday, your calories was over</span></a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <a><span class="black-text name">Calories limit per week : {{ user.cal_limit_per_week }} / 14000</span></a>
                        <div class="progress">
                            <div class="determinate" style="width: {{ (user.cal_limit_per_week*100)/14000 }}%"></div>
                        </div>
                        {% if user.cal_limit_per_week <= 0 %}
                        <a><span class="red-text name"> <i class="material-icons">warning</i> Calories per week is over</span></a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <ul class="collection">
                            {% if user.food_group.protein and
                                user.food_group.carbohydrate and
                                user.food_group.vitamin and
                                user.food_group.mineral and
                                user.food_group.fat %}
                                <li class="collection-item"><span class="green-text name"> <i class="material-icons left">check</i>Your food group is fully</span></li>
                            {% else %}
                                {% if not user.food_group.protein %}
                                    <li class="collection-item"><span class="orange-text name"> <i class="material-icons left">warning</i>need protein in today</li>
                                {% endif %}
                                {% if not user.food_group.carbohydrate %}
                                    <li class="collection-item"><span class="orange-text name"> <i class="material-icons left">warning</i>need carbohydrate in today</li>
                                {% endif %}
                                {% if not user.food_group.vitamin %}
                                    <li class="collection-item"><span class="orange-text name"> <i class="material-icons left">warning</i>need vitamin  in today</li>
                                {% endif %}
                                {% if not user.food_group.mineral %}
                                    <li class="collection-item"><span class="orange-text name"> <i class="material-icons left">warning</i>need mineral in today</li>
                                {% endif %}
                                {% if not user.food_group.fat %}
                                    <li class="collection-item"><span class="orange-text name"> <i class="material-icons left">warning</i>need fat in today</li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                    
                </div>
            </div>  
        </div>
    </div>
{% endblock %}
