<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{{ config.get('APP_TITLE') }}{% endblock %}</title>
  <link rel="stylesheet" type="text/css"
    href="{{ url_for('static', filename='node_modules/materialize-css/dist/css/materialize.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/material-icons/iconfont/material-icons.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/@fortawesome/fontawesome-free/css/all.css') }}">
  
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/bokehjs/build/css/bokeh.min.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/bokehjs/build/css/bokeh-widgets.min.css') }}">
  <link rel="stylesheet"
    href="{{ url_for('static', filename='node_modules/bokehjs/build/css/bokeh-tables.min.css') }}">

  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bokehjs/build/js/bokeh.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bokehjs/build/js/bokeh-api.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bokehjs/build/js/bokeh-widgets.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bokehjs/build/js/bokeh-tables.min.js') }}"></script>

  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instance = M.Sidenav.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.tooltipped');
      var instances = M.Tooltip.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.materialboxed');
      var instances = M.Materialbox.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.autocomplete');
      var instances = M.Autocomplete.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.fixed-action-btn');
      var instances = M.FloatingActionButton.init(elems, {
        direction: 'left',
        hoverEnabled: false
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.datepicker');
      var instances = M.Datepicker.init(elems, {
        format: 'dd/mm/yyyy'
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.timepicker');
      var instances = M.Timepicker.init(elems, {
        twelveHour: false
      });
    });

    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.collapsible');
      var instances = M.Collapsible.init(elems);
    });

  </script>
</head>

<body class="grey lighten-3">
  <script src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
  <nav style="background-color:#326A22;">
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div style="margin-right: 3%; margin-left: 3%;">
      <div class="nav-wrapper">
        <ul class="left show-on-large-only" style="margin-left: 50%;">
          <a href="{{ url_for('main.index') }}" class="brand-logo">{{ config.get('APP_TITLE') }}</a>
        </ul>
        <ul class="right">
          <!-- <a href="#" data-target="slide-out" class="sidenav-trigger show-on-medium-and-up show-on-small"><i class="material-icons">menu</i></a> -->
          <li><a href="{{ url_for('main.index') }}">Dashboard</a></li>
          <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
          <li><a href="{{ url_for('accounts.logout') }}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- <ul id="slide-out" class="sidenav green darken-2">
        <li>
            <div class="user-view">
                <div class="background"></div>
                    <img src="images/office.jpg">
                </div>
            <a href="#email"><span class="white-text email">First Name</span></a>
            </div>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="/" class="waves-effect white-text" href="#!"><i class="small material-icons">dashboard</i>Request Menu</a></li>
        <li><a href="/rank" class="waves-effect white-text" href="#!"><i class="small material-icons">insert_chart</i>My Ingredient</a></li>
        <li><a href="/about_us" class="waves-effect white-text" href="#!"><i class="small material-icons">portrait</i>My Recipe</a></li>
        <li><a href="/about_us" class="waves-effect white-text" href="#!"><i class="small material-icons">portrait</i>Your Profile</a></li>
    </ul> -->
  <div class="row">
    <div class="col s12 m12 l3 xl2">
      <ul id="slide-out" class="sidenav sidenav-fixed show-on-large-only">
        <li>
          <div class="user-view">
            <div class="background">
              <img src="{{ url_for('static', filename='images/cover-generic.jpg') }}">
            </div>
            <a>
              {% if user.profile_image %}
              <img class="circle" src="{{ url_for('user.user_image', file_name=user.profile_image.filename) }}">
              {% else %}
              <img class="circle" src="{{ url_for('static', filename='images/undraw_male_avatar_323b.png') }}">
              {% endif %}
            </a>
            <a><span class="name white-text" style="padding-bottom: 10%;">{{ user.firstname }}
                {{ user.lastname }}</span></a>
          </div>
        </li>
        <li>
          <div class="user-view">
            <a><span class="black-text name">Calories limit per day : {{ user.cal_limit }} / 2000</span></a>
            <div class="progress">
              <div class="determinate" style="width: {{ (user.cal_limit*100)/2000 }}%"></div>
            </div>
            {% if user.cal_limit <= 0 %}
            <a><span class="red-text name"> <i class="material-icons">warning</i> Calories per day is over</span></a>
            {% endif %}
            {% if user.cal_limit_over %}
            <a><span class="orange-text name"> <i class="material-icons">warning</i> Yesterday, your calories was over</span></a>
            {% endif %}
            <a><span class="black-text name">Calories limit per week : {{ user.cal_limit_per_week }} / 14000</span></a>
            <div class="progress">
              <div class="determinate" style="width: {{ (user.cal_limit_per_week*100)/14000 }}%"></div>
            </div>
            {% if user.cal_limit_per_week <= 0 %}
            <a><span class="red-text name"> <i class="material-icons">warning</i> Calories per week is over</span></a>
            {% endif %}
            <a><span class="black-text name">Calories out today : {{ user.calories_out }}</span></a>
            <a><span class="black-text name">Calories in today : {{ user.calories_in }}</span></a>
            {% if user.calories_in - user.calories_out > 0 %}
            <a><span class="red-text name"><i class="material-icons">warning</i>Excess calories :
                {{ user.calories_in - user.calories_out }}</span></a>
            {% endif %}
            {% if user.food_group.protein and
                  user.food_group.carbohydrate and
                  user.food_group.vitamin and
                  user.food_group.mineral and
                  user.food_group.fat %}
              <a><span class="green-text name"><i class="material-icons left">check</i>Today,your food groups is fully</span></a>
            {% else %}
            <a><span class="orange-text name"><i class="material-icons left">warning</i>Today,your food groups is not fully</span></a>
            {% endif %}
            
          </div>
        </li>
        <div class="collection ">
          <a href="{{ url_for('food_log.food_log') }}" class="green-text text-darken-4 collection-item">Nutrition</a>
          <a href="{{ url_for('calories_log.calories_charts') }}" class="green-text text-darken-4 collection-item">Calories Out Log</a>
          <a href="{{ url_for('user.bmi') }}" class="green-text text-darken-4 collection-item">Update BMI</a>
          <a href="{{ url_for('eating_log.eating_list') }}" class="green-text text-darken-4 collection-item">Eating Log</a>
        </div>
      </ul>
    </div>
    <div class="col s12 m12 l9 xl10">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>