{% extends "/base/base_layout.html" %}
{% block content %}
<div class="container" style="margin-top: 5%">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{{ url_for('food.another_food') }}"><img class="activator" height="250"
              src="{{ url_for('static', filename='images/undraw_updates_et2k_palette.png') }}"></a>
        </div>
        <div class="card-content">
          <a href="{{ url_for('food.another_food') }}">
            <span class="card-title activator grey-text text-darken-4">What did you get?</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{{ url_for('suggestion.suggest_menu') }}"><img class="activator" height="250"
              src="{{ url_for('static', filename='images/undraw_booking_33fn_palette.png') }}"></a>
        </div>
        <div class="card-content">
          <a href="{{ url_for('suggestion.suggest_menu') }}">
            <span class="card-title activator grey-text text-darken-4">Menu Suggestion</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{{ url_for('stock.stock') }}"><img class="activator" height="250"
              src="{{ url_for('static', filename='images/undraw_upload_87y9_palette.png') }}"></a>
        </div>
        <div class="card-content">
          <a href="{{ url_for('stock.stock') }}">
            <span class="card-title activator grey-text text-darken-4">Stock</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="{{ url_for('recipe.recipe') }}"><img class="activator" height="250"
              src="{{ url_for('static', filename='images/undraw_book_lover_mkck_palette.png') }}"></a>
        </div>
        <div class="card-content">
          <a href="{{ url_for('recipe.recipe') }}">
            <span class="card-title activator grey-text text-darken-4">Recipe</span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
